$matter-supply-blue: #1D1FDD;
$matter-supply-grey:#666666;
$matter-supply-grey1:#565656;
$matter-supply-white:#F5F5F5;
$matter-supply-grey2:#666666;
$matter-supply-white-pure:#FFFFFF;
$matter-supply-black:#000000;
$matter-supply-white2:#D8D8D8;
$matter-supply-grey-3:#FCFCFC