@import './variables';
@import './colors';

.profile {
  display: flex;
  border-bottom: 1px solid $matter-supply-white2;
  margin-bottom: 64px;
  margin-top: 30px;
  .data-post {
    display: flex;
    flex-basis: 100%;
    justify-content: space-between;
    align-items: center;
    button {
     @include button(237px, 60px);
      margin-bottom: 20px;
      span {
        font-size: $font-size-24;
        font-family: $font-family-normal;
        line-height: 32px;
        color: $matter-supply-white-pure;
      }
    }
  }
  .posts {
    padding-left: 30px;
    padding-bottom: 20px;
    .user {
      line-height: 32px;
      font-size: $font-size-24;
      font-family: $font-family-normal;
      color: $matter-supply-black;
    }
  }
}
.is-71x70 {
  width: 71px;
  height: 70px;
}
